.navbar .navbar-default .navbar-menu2 {
    position:absolute;
}
.fixed {
    position:fixed;
    top:0;
}
.hero-unit{
    background-color: #000;
}
#checkinput:checked ~ #checktitle{
        text-decoration: line-through;
        color: grey;
    }
.mymodal:hover {
        background-color: #0088cc;
    }