    .global_1
        {
            width: 150px;
        }
    .global_2
        {
            width: 200px;
        }
    .bosoo_mid
    {
        
    }
    .irtsiin_nud
    {
        color: blue;
        vertical-align: central;
        text-align: center;
        cursor: pointer;
    }
    .zoodog
    {
        overflow-x: scroll;
        max-width:530px;
        float:left;
    }
    .ehlel
    {
        margin-left: 0px;
    }
    .table_1
    {        
        border-right-color: black;   
        margin-right: 0px;
    }
    .table_3
    {
        border-left: 1px;
        border-style: solid;
        border-left-color: black;
        margin-right: 0px;
    }
    .neg_2
    {
        padding-left: 0px;
        font-size: 12px;
        font-weight: bold;
    }
    .neg_3
    {
        padding-left: 15px;
    }
    .dotorhi_1
    {
        display: none;
        font-size: 14px;
        padding-left: 10px;
        padding-top: 5px;
        font-weight: normal;
    }
    .underline_1
    {
        text-decoration:underline;
        font-style: italic;
    }
    .dotorhi_1 > a
    {
        font-weight: bold;
    }
    .dotorhi_1 > i
    {
        float: right;
    }
    .ded_menu
    {
        padding-left: 0px;
        position: absolute;
        top: 13px;
        right: 5px;
    }
    .table
    {
        border-radius: 0px 0px 0px 0px;
        width: auto;
        height: auto;
        float: left;
    }
    .row-fluid
    [class*="span"]
    {
        margin-left: 0px;
    }
    .journal
    {
        margin-left: 0px;
        margin-top: 10px;
    }
    .Zanguu
    {
        padding-top: 10px;
        padding-left: 0px;
        padding-bottom: 20px;
    }
    .Garchig
    {
        margin-top: 0px;
    }
    td
    {
        white-space: nowrap;
        padding-left: 3px;
        padding-bottom: 4px;
        padding-top: 3px;
        padding-right: 8px;
        vertical-align: middle;
    }
    td.gg
    {
        white-space: wrap;
    }
    .dun_1
    {
        cursor: pointer;
        color: blue;
    }
    #songolt_dun
    {
        padding-left: 0px;
        padding-bottom: 10px;
        width: 50px;
        top: 40%;
        right: 40px;
    }
    .First_cell
    {
        font-weight: bold;
    }
    .dundaj
    {
        color: green;
        font-weight: bold;
    }
    .dundaj_1
    {
        font-style: italic;
        font-weight: bold;
    }
    .tolgoi_nud
    {
         font-style: italic;
         font-weight: inherit;
    }
    .journal_huree
    {
        display: block;
        border: 1px solid #ccc;
        padding-bottom: 100px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0px;
    }
    #hetsuudee
    {
        margin-top: 70px;
    }
    .dogol
    {
        padding-left: 60px;
    }
    .hoyor_dahi_nud
    {
        padding-left: 40px;
        font-style: italic;
        color: grey;
    }
    #boloodohlee
    {
     padding-bottom: 34px;   
    }
    .glyphicon
    {
     cursor: s-resize;
    }
    .garchig
    {
        padding-top: 0px;
        margin-top: -30px;
    }
    .white, .white a 
    {
        color: #fff;
    }
    .blue, .blue a 
    {
        color: #428BCA;
    }
    li.neg_2
    {
        margin-bottom: 0px;
    }
    .baruun
    {
        text-align: right;
    }
    .table_header
    {
        font-weight: bold;
        font-style: italic;
    }
    .btn_float
    {
        width: 30px;
        margin-bottom: 3px;
    }